{%extends 'navbar.html'%}

{% block content %}

<div class="container2">
{% if inexist%}
<p>{{inexist}}</p>
{%else%}

<p class=red>{{msg}}</p>

{% if p.id == 1%}

<label>Vous cherchez à modifier les informations pour le compte admin par défaut dont le nom actuel est '{{p.username}}', vous n'êtes autorisé de changer que le nom d'utilisateur et/ou le mot de passe</label> <br>
<form method="POST" action="/modif_user/{{p.id}}"> <br>
Nom d'utilisateur : <input type="text" name="username" required> <br>
Mot de passe : <input type="text" name="password" required> <br>
Vérifier le mot de passe : <input type="text" name="password2" required> <br>
<input type="submit">
</form>
{% else %}
<label>Le nom actuel est : '{{p.username}}' et le role_id est : {{p.role_id}} <br></label>
<label>Entrez le nouveau nom, mot de passe et le role_id de cet utilisateur <br> </label>
<label>Pour rappel les différents role_id sont :</label> <br>
<table>
<tr>
<td class="message">Role_id = 1</td>
<td class="message">Lecture des journaux</td>
</tr>
<tr>
<td class="message">Role_id = 2</td>
<td class="message">Lecture des journaux + Gestion des machines</td>
</tr>
<tr>
<td class="message">Role_id = 3</td>
<td class="message">Lecture des journaux + Gestion des machines + Gestion des utilisateurs</td>
</tr>
</table> <br>
	<form method="POST" action="/modif_user/{{p.id}}">
		Nom d'utilisateur : <input type="text" name="username" required> <br>
		Mot de passe : <input type="password" name="password" required> <br>
		Vérifier le mot de passe : <input type="password" name="password2" required> <br>
		Role ID : <select name="role_id">
		<option>1</option>
		<option>2</option>
		<option>3</option>
		</select> <br>
		<input type="submit">
	</form>
{% endif %}
{%endif%}
</div>
{% endblock %}
